<main class="page-main page-main--index">
<% var posts = get_posts({
  orderby: 'updated',
  order: -1,
  count: 0
}); %>
<% posts.each(function(post){ %>
  <%- partial('_partials/projectPreview', {project: post}) %>
<% }) %>
</main>
<%- partial('_partials/page-footer', {isIndex: true}, {cache: !config.relative_link}) %>
