<main class="page-main page-main--index">
  <%- partial('_partials/filter', {active: page.tag}) %>
  <% var posts = get_posts({
    query: {public: 1, tags: page.tag},
    orderby: 'updated',
    order: -1,
    count: 0
  }); %>
  <% posts.each(function(post){ %>
    <%- partial('_partials/projectCard', {project: post}) %>
  <% }) %>
</main>
