// base
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html {
  font-size: @font-size--html;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
  color: @color--body;
  background-color: @background-color--body;
  font-family: @font-family--body;
  font-size: @font-size--body;
  line-height: @line-height--body;
  letter-spacing: @letter-spacing--body;
  text-rendering: optimizeLegibility;
  .font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.page-main {
  margin-top: @margin-top--page-main;
  margin-bottom: @margin-bottom--page-main;
}
.page-main--index {
  margin-top: @margin-top--page-main--index;
}
.container {
  width: 100%;
  .margin-center();
}
.container--padded {
  padding-left: @container-gutter;
  padding-right: @container-gutter;
}
.container--narrow {
  &:extend(.container);
  &:extend(.container--padded);
  max-width: @max-width--container--narrow;
}
.container--wide {
  &:extend(.container);
  max-width: @max-width--container--wide;
}
.container--full {
  &:extend(.container);
}

// typography
a {
  color: @color--a;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-family--headings;
  letter-spacing: @letter-spacing--headings;
}
h1 {
  color: @color--h1;
  font-size: @font-size--h1;
  line-height: @line-height--h1;
  font-weight: @font-weight--h1;
  letter-spacing: @letter-spacing--h1;
}
h2 {
  color: @color--h2;
  font-size: @font-size--h2;
  line-height: @line-height--h2;
  font-weight: @font-weight--h2;
  letter-spacing: @letter-spacing--h2;
}
h3 {
  color: @color--h3;
  font-size: @font-size--h3;
  line-height: @line-height--h3;
  font-weight: @font-weight--h3;
  letter-spacing: @letter-spacing--h3;
}
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: @font-weight--headings;
}
p {
  font-size: @font-size--p;
}
code,
kbd,
pre,
samp {
  background-color: @background-color--code;
  font-family: @font-family--code;
  font-size: @font-size--code;
  overflow: auto;
  white-space: pre-wrap;
}
code {
  padding: @padding-top--code @padding-left--code;
}
pre {
  padding: @padding-top--pre @padding-left--pre;
}
hr {
  width: @width--hr !important; // TO DO: see if this can be eliminated
  margin: @margin-top--hr auto;
  border: 0;
  border-top: @border-top--hr;
}
strong {
  font-family: @font-family--strong;
}
img {
  .img-responsive();
}

// nav
.nav {
  color: @color--nav;
  font-size: @font-size--nav;
  font-weight: @font-weight--nav;
  text-align: center;
}
.nav-list {
  list-style: none;
}
.nav-item {
  display: inline-block;
}
.nav-link {
  color: @color--nav-link;
  padding: @padding-top--nav @padding-left--nav;
  display: inline-block;
}
.nav-link--title {
  color: @color--nav-link--title;
}
.nav-item:first-child {
  position: absolute;
  left: 0;
}
.nav-item:last-child {
  position: absolute;
  right: 0;
}

// project previews
.projectPreview:not(:last-child) {
  margin-bottom: @margin-bottom--projectPreview;
}
.projectPreview--horizontal .projectPreview-thumbnail,
.projectPreview--vertical .projectPreview-text {
  width: calc(~"50%" - @container-gutter / 2);
}
.projectPreview--horizontal .projectPreview-thumbnail {
  float: left;
  margin-right: @container-gutter;
}
.projectPreview--horizontal .projectPreview-text {
  .clearfix();
}
.projectPreview--vertical .projectPreview-text {
  margin-top: @margin-top--projectPreview-text;
}
.projectPreview-description {
  font-family: @font-family--projectPreview-description;
  color: @color--projectPreview-description;
}
.projectPreview-meta {
  color: @color--projectPreview-meta;
  font-size: @font-size--projectPreview-meta;
  margin-top: @margin-top--projectPreview-meta;
  list-style: none;
}
.projectPreview-meta > * {
  display: inline-block;
}
.projectPreview-meta > *:not(:last-child) {
  margin-right: @margin-right--projectPreview-meta-item;
}
.projectPreview-date {
  font-weight: @font-weight--projectPreview-date;
}
.projectPreview-readingTime {
  letter-spacing: @letter-spacing--projectPreview-readingTime;
}

// projects
.project-header {
  // margin-bottom: @margin-bottom--project-header; // TEMP
}
.project-content a {
  .underline(@y--underline);
  .underline-color(@color--underline);
}
.project-content > p,
.project-content > ol,
.project-content > ul,
.project-content > blockquote {
  font-family: @font-family--project-content-text;
}
.project-content > p,
.project-content > ol,
.project-content > ul,
.project-content > blockquote,
.project-content > .highlight {
  margin-bottom: @margin-bottom--project-content-text;
}
.project-content > h1,
.project-content > h2,
.project-content > h3,
.project-content > h4,
.project-content > h5,
.project-content > h6 {
  clear: both;
}
.project-content > h1 {
  margin-top: @margin-top--project-content-h1;
  margin-bottom: @margin-bottom--project-content-h1;
}
.project-content > h2 {
  margin-top: @margin-top--project-content-h2;
  margin-bottom: @margin-bottom--project-content-h2;
}
.project-content > h3 {
  margin-top: @margin-top--project-content-h3;
  margin-bottom: @margin-bottom--project-content-h3;
}
.project-content > h1 + h2,
.project-content > h1 + h3 {
  margin-top: 0;
}
.project-content > p:first-of-type {
  margin-top: @margin-top--project-content-p-first-of-type;
}
.project-content > h1 + p:first-of-type {
  margin-top: @margin-top--project-content-p-first-of-type + @margin-bottom--project-content-h1;
}
.project-content > h2 + p:first-of-type {
  margin-top: @margin-top--project-content-p-first-of-type + @margin-bottom--project-content-h2;
}
.project-content > h3 + p:first-of-type {
  margin-top: @margin-top--project-content-p-first-of-type + @margin-bottom--project-content-h3;
}

.project-content > p:first-of-type::first-letter {
  font-family: @font-family--drop-cap;
  font-size: @font-size--drop-cap;
  font-weight: @font-weight--drop-cap;
  line-height: @line-height--drop-cap;
  float: left;
  padding-right: @padding-right--drop-cap;
  margin-bottom: @margin-bottom--drop-cap;
}
.project-content > hr + p:first-line {
  font-family: @font-family--first-line;
  font-weight: @font-weight--first-line;
}
.project-content > *:last-child {
  &:after {
    content: '•';
  }
}
.project-content > blockquote > p {
  padding-left: @padding-left--blockquote;
  margin-left: @margin-left--blockquote;
  box-shadow: @box-shadow--blockquote;
  clear: both;
  font-style: italic;
}
.project-content > blockquote > p em {
  font-style: normal;
}
.project-content > ol,
.project-content > ul {
  padding-left: @padding-left--list !important;
  list-style-type: none;
  counter-reset: decimal-counter;
}
.project-content > *:not(.project-figure) {
  &:extend(.container--narrow);
}
.project-content > ol li:before,
.project-content > ul li:before {
  content: counter(decimal-counter);
  counter-increment: decimal-counter;
  position: relative;
  text-align: right;
  display: inline-block;
  color: @color--project-content-list-item;
  width: @width--project-content-list-item;
  left: @left--project-content-list-item;
  margin-right: @margin-right--project-content-list-item;
  padding-right: @padding-right--project-content-list-item;
}
.project-figure--default {
  &:extend(.container--narrow);
  margin-bottom: (@line-height * 1.5);
}
.project-figure--default > img {
  .margin-center();
}
.project-figure--wide {
  &:extend(.container--wide);
  margin-top: (@line-height * 3);
  margin-bottom: (@line-height * 1.5);
}
.project-figure--full {
  &:extend(.container--full);
  margin-top: (@line-height * 3);
  margin-bottom: (@line-height * 1.5);
}
.project-figure--left {
  float: left;
  width: 50%;
  margin-right: @container-gutter;
  margin-bottom: (@line-height * 1);
}
.project-figure-caption {
  color: @color--project-figure-caption;
  font-size: @font-size--project-figure-caption;
  line-height: @line-height--project-figure-caption;
  font-weight: @font-weight--project-figure-caption;
  text-align: center;
  margin-top: @margin-top--project-figure-caption;
  padding: 0 @padding-left--project-figure-caption;
}
.project-figure--left .project-figure-caption {
  text-align: left;
}

// responsiveness
// : small screens and larger
@media (min-width: @width-screen-sm-min) {
  .project-figure--left .project-figure-caption {
    padding-left: 0
  }
}
// : medium screens and smaller
@media (max-width: @width-screen-md-max) {
  .container--wide {
    max-width: 100%;
  }
}
// : small screens and smaller
@media (max-width: @width-screen-sm-max) {
  // body {
  //   font-size: @font-size--body-sm;
  // }
  html {
    font-size: @font-size--html-sm;
  }
}
// : extra small screens
@media (max-width: @width-screen-xs-max) {
  .project-figure--left {
    width: 100%;
    margin-bottom: (@line-height * 1.5);
  }
  .project-figure--left .project-figure-caption {
    text-align: center;
  }
}

// miscellaneous
#projectColor {
  display: none;
}
