<article class="project" data-project-id="<%= project._id %>">
  <section class="project-content">
    <%- project.content %>
  </section>
  <span id="projectColor"><% if (project.color) { %><%= project.color %><% } else { %>inherit<% } %></span>
</article>
